.top-bar{
    display: column;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .row {
        height: 50px;
        width: 400px;    
        .col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
}
